<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
</head>
<body>

<div>
    <form action="">
        <input type="text" desabled value="{{plate_number}}">
    </form>
    <h1>This Plate Number : {{plate_number}}</h1>
    <ul>
        <li>Insurance:{{search.insurance.insurance_status}}</li>
        <li>Tax:{{search.tax.tax_status}}</li>
        <li>Control:{{search.control.control_status}}</li>
        <li>phone: {{search.Car_registration.phonenumber}}</li>
    </ul>

</div>

</body>
</html>